.columna {
    width: 33.33%;
    float: left;
    box-sizing: border-box;
    text-align: center;
    padding: 10px;
}

#productosContainer::after {
    content: "";
    display: table;
    clear: both;
}

#formulario label {
    display: block;
    margin-top: 10px;
}

#formulario input, #formulario button {
    display: block;
    margin-top: 5px;
}

ul {
    padding: 0;
    list-style: none;
}

li {
    margin-bottom: 10px;
}

img {
    width: 200px;
    height: 200px;
    object-fit: cover;
}
